html, body{
	height: 100%;
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6{
	color: #666666;
}

h1 i, h2 i,h3 i,h4 i,h5 i,h6 i{
	margin-right: 20px;
}

.resetlist{
	padding: 0;
	margin: 0;
	list-style: none;
}

.maiuscolo{
	text-transform: uppercase;
}

a{
	/*-webkit-transition-duration: 0.15s;
    -moz-transition-duration: 0.15s;
    -ms-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;*/
}

a:hover{
	text-decoration: none;
	/*-webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    -ms-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-duration: 0.1s;*/
}

a.lnk:hover{
	/*background: #337ab7;
	color: #ffffff;
	padding: 6px 6px 4px 6px;
	margin: -3px -6px;*/
}

.txt-error{
	font-weight: bold;
	color: #ff0000;
}

.spacer{
	display: block;
	height: 20px;
	clear: both;
}

.btn{
	border-radius: 0;
}

.btn-lg{
	border-radius: 0;
	box-shadow: 0;
	border: none;
	padding: 10px 20px;
}

button[type="submit"].btn-lg{
	margin-top: 30px;
}

.button-link{
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	color: #337ab7;
}

.title-right{
	padding: 10px 0;
	text-align: right;
}

.annulla-form{
	margin-left: 20px;
}


.jconfirm.supervan .jconfirm-box .buttons button{
	background: #337ab8!important;
	border: none!important;
	box-shadow: none!important;
}

.jconfirm.supervan .jconfirm-box .buttons button:hover{
	color: #337ab7!important;
	background: #ffffff!important;
}

/* SQUARE BUTTONS */

i.sbutton{
	display: block;
	width: 34px;
	height: 34px;
	line-height: 32px;
	font-style: normal;
	text-align: center;
	cursor: pointer;
	font-size: 18px;
	background: #666666;
	color: #eeeeee;
	border: 1px solid #666666;
}

i.sbutton:hover{
	background: #eeeeee;
	color: #666666;
}


i.sbutton.fa-close{
	background: #990000;
	color: #ffffff;
	border: 1px solid #990000;
}

i.sbutton.fa-close:hover{
	background: #ffffff;
	color: #990000;
}


i.sbutton.fa-plus{
	background: #337ab7;
	color: #ffffff;
	border: 1px solid #337ab7;
}

i.sbutton.fa-plus:hover{
	background: #ffffff;
	color: #337ab7;
}


i.sbutton.fa-pencil{
	background: #337ab7;
	color: #ffffff;
	border: 1px solid #337ab7;
}

i.sbutton.fa-pencil:hover{
	background: #ffffff;
	color: #337ab7;
}

.itemRow i.sbutton, .serviceRow i.sbutton{
	position: absolute;
	top: 0;
	right: 0;
}

.itemRow i.sbutton.fa-plus{
	display: none;
}

.itemRow i.sbutton.fa-close{
	display: block;
}

.itemRow:first-child i.sbutton.fa-plus{
	display: block;
}

.itemRow:first-child i.sbutton.fa-close{
	display: none;
}

.itemRow i.sbutton.fa-close{
	display: block;
}



/* ERRORI FORM */

.field-error{
	border-color: #ff0000!important;
}

.mess-error{
	color: #ff0000;
}




/* SELECT */



.styled-select select, .form-group select{
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #ffffff url('../images/select-arrow.png')  no-repeat;
	background-position: right center;
	border-radius: 0;
}

.styled-select select::-ms-expand, .form-group select::-ms-expand { display: none; }

.form-group select option{
	padding: 3px 12px;
}



/* Checkbox */

input[type="checkbox"]{
    display:none;
    width: 20px;
} 

input[type="checkbox"] + label:before {
	content: ' ';
    display:inline-block;
    width:20px;
    height:20px;
    vertical-align:middle;
    background:url(../images/checkbox.png) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label:before {
    background:url(../images/checkbox.png) -20px top no-repeat;
}


/* HEADER */

.navbar-default{
	background: #337ab7;
	border: none;
	/*border-bottom: 1px solid #337ab7;*/
	border-radius: 0;
}

.navbar-login-ico{
	float: right;
	color: #ffffff;
	padding: 18px;
}

.navbar-login-ico:hover{
	background: #ffffff;
	color: #337ab7;
}

.navbar-default .navbar-toggle{
	border-radius: 0;
	border: none;
	margin-bottom: 7px;
}

.navbar-default .navbar-toggle:hover{
	background: #ffffff;
}

.navbar-default .navbar-toggle .icon-bar{
	background: #ffffff;
	height: 3px;
}

.navbar-default .navbar-toggle:hover span{
	background: #337ab7;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus{
	color: #ffffff;
	font-size: 16px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover{
	background: #ffffff;
	color: #337ab7;
	text-shadow: none;
	box-shadow: none;
}

.navbar-default .navbar-nav .dropdown-menu > li > a i{
	width: 16px;
	text-align: center;
}

.navbar-default .navbar-nav > li > a span,
.navbar-default .navbar-nav .dropdown-menu > li > a span{
	margin-left: 10px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand:focus{
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
	padding-left: 15px;
}

.navbar-default .navbar-brand:hover{
	color: #ffffff;
}

.navbar-default .navbar-brand span{
	display: block;
	position: relative;
	padding-left: 26px;
}

.navbar-default .navbar-brand span:before, .navbar-default .navbar-brand span:after, .navbar-default .navbar-brand:hover span:before, .navbar-default .navbar-brand:hover span:after{
	display: block;
	font-size: 19px;
	position:absolute;
	font-family: FontAwesome;
	top:0;
	left:0;
	font-weight: normal;
	-webkit-transition-duration: 0.15s;
    -moz-transition-duration: 0.15s;
    -ms-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
}

.navbar-default .navbar-brand span:before{
	content: "\f15c";
}

.navbar-default .navbar-brand span:after{
	content: "\f015";
	opacity: 0;
	top: -15px;
}

.navbar-default .navbar-brand:hover span:before{
	opacity: 0;
	top: 15px;
}

.navbar-default .navbar-brand:hover span:after{
	opacity: 1;
	top: 2px;
}

.dropdown-menu{
	min-width: 100px;
	left: 0;
	right: auto;
	border-radius: 0;
	box-shadow: none;
	background: #ffffff;
	border-color: #337ab7;
	border-style: solid;
	border-width: 0 1px 1px;
}

.navbar-right .dropdown-menu{
	right: -1px;
}

.dropdown-menu > li > a{
	background: #ffffff;
	color: #337ab7;
	padding: 6px 15px;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover{
	background: #337ab7;
	color: #ffffff;
}




/* Sticky foter */

.wrap{
	min-height: 100%;
	padding-bottom: 30px;
}

.push, footer{
	height: 30px;
}

footer{
	margin-top: -30px;
}




/* Form style */

label{
	display: block;
}

input[type="text"].form-control,
input[type="number"].form-control,
input[type="email"].form-control,
input[type="password"].form-control,
input[type="date"].form-control,
select.form-control{
	width: 100%;
	border: 1px solid #999999;
	border-radius: 0;
}



/* SECTIONS */

section{
	padding: 30px 0 15px;
}

section:nth-child(2n){
	background: rgba(51,122,183,0.1);
}

.title-section{
	margin: 0 0 20px 0;
	color: #999999;
	font-weight: 100;
}

















.add-client{
/*	padding-right: 40px;
	position: relative;*/
}

.add-client i{
	position: absolute;
	bottom: 0;
	right: 0;
	height: 34px;
	display: block;
	width: 34px;
	text-align: center;
	line-height: 34px;
	cursor: pointer;
	background: #337ab7;
	color: #ffffff;
	font-size: 18px;
}


/* Items */

.add-item-lnk{
	margin-right: 10px;
}

.itemPrice{
	padding-right: 55px;
	position: relative;
}

.itemPrice input{
	text-align: right;
}




/* LOGIN */

.login-form .btn{
	width: 100%;
	margin-top: 0;
}

.reset-password .btn{
	width: 100%;
}



/* ELENCO CLIENTI */

.linea-cliente, .linea-fattura{
	border-bottom: 1px solid #999999;
	display: block;
	position: relative;
	width: 100%;
	padding: 0 90px 0 10px;
}

.linea-cliente:hover, .linea-fattura:hover{
	background: #ffffa5;
}

.linea-cliente > a, .linea-fattura > a{
	display: block;
	width: 100%;
	height: 44px;
	line-height: 44px;
	white-space: nowrap;
	overflow: hidden;
	font-size: 18px;
}

.box-modifica-cliente, .box-modifica-fattura{
	position: absolute;
	display: block;
	top: 5px;
	right: 0;
	z-index: 99;
	background: #ffffff;
}

.linea-cliente:hover .box-modifica-cliente, .linea-fattura:hover .box-modifica-cliente, .linea-cliente:hover .box-modifica-fattura, .linea-fattura:hover .box-modifica-fattura{
	background: #ffffa5;
}

.box-modifica-cliente a, .box-modifica-fattura a{
	float: right;
	display: block;
	margin: 0 5px;
}



/* NUOVA FATTURA */

/*
.nuova-fattura .lnk{
	margin-left: 17px;
}*/

.showbollo{
	display: none;
}



/* RIEPILOGO FATTURA */

.riepilogo-fattura{
	border: 1px solid #337ab7;
	padding-bottom: 30px;
}

.riepilogo-fattura section{
	background: none;
}

.riepilogo-fattura .numero-fattura,
.riepilogo-fattura .data-fattura,
.riepilogo-fattura .anagrafica,
.riepilogo-fattura .logo,
.riepilogo-fattura .riepilogo-item-row,
.riepilogo-fattura .bollo-iban,
.riepilogo-fattura .note-in-fattura, 
.riepilogo-fattura .riepilogo-totali{
	padding: 0 20px;
}

.riepilogo-fattura .logo{
	display: block;
	width: 100%;
	height: 100px;
	margin-bottom: 20px;
}

.riepilogo-fattura .logo img{
	width: auto;
	height: auto;
	max-height: 100%;
	max-width: 100%;
}

.riepilogo-fattura .anagrafica{
	margin-bottom: 20px;
}

.riepilogo-fattura .anagrafica ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

.riepilogo-fattura .dati-cliente{
	background: rgba(51, 122, 183, 0.1);
	padding: 20px;
	border-left: 2px solid #337ab7;
}

.riepilogo-fattura .dati-cliente ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.riepilogo-fattura  .numero-fattura, .riepilogo-fattura  .data-fattura{
	font-size: 22px;
	border-left: 2px solid #337ab7;
}

.riepilogo-fattura  .data-fattura{
	padding-bottom: 10px;
}

.riepilogo-fattura .evidenza{
	font-size: 22px;
	font-width: bold;
}

.riepilogo-fattura .margine-separatore{
	margin-bottom: 5px;
}

.riepilogo-fattura .maiuscolo{
	text-transform: uppercase;
}
 
.riepilogo-fattura .riepilogo-item-row .row{
	padding: 10px 0;
}

.riepilogo-fattura .riepilogo-item-row .row > div:last-child{
	text-align: right;
}

.riepilogo-fattura .riepilogo-item-row .row:first-child{
	font-weight: bold;
	font-size: 18px;
}

.riepilogo-fattura .riepilogo-item-row .row:nth-child(2n){
	background: #eaf1f8;
}

/*
.riepilogo-fattura .riepilogo-item-row .row:last-child{
	background: none;
	font-weight: bold;
	font-size: 22px;
	padding-top: 15px;
	border-top: 1px solid #666666;
}
*/

.riepilogo-fattura .riepilogo-totali{
	padding-top: 10px;
}

.riepilogo-fattura .riepilogo-totali .row{
	font-size: 16px;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #666666;
}

.riepilogo-fattura .riepilogo-totali .importo-totali{
	text-align: right;
}

.riepilogo-fattura .riepilogo-totali .subtotale{
	border-top: 1px solid #000000;
	padding-top: 10px;
}

.riepilogo-fattura .riepilogo-totali .row:last-child{
	font-size: 18px;
	color: #000000;
	border-top: 1px solid #000000;
	padding-top: 15px;
	margin-top: 5px;
}

.riepilogo-fattura  .bollo-iban{
	padding-top: 40px;
	font-size: 16px;
	font-weight: bold;
}

.riepilogo-fattura  .bollo-iban div{
	padding-bottom: 20px;
}

.riepilogo-fattura  .bollo-iban .dicitura-iban{
	text-align: right;
}

.riepilogo-fattura  .note-in-fattura{
	
}



/* ELENCO FATTURE */

.year-selector{
	color: #337ab7;
	cursor: pointer;
	padding-right: 28px;
	position: relative;
}

.year-selector:after{
	position: absolute;
	font-family: FontAwesome;
	content: "\f0dd";
	font-size: 20px;
	top: 7px;
	right: 7px;
	
}

.linea-fattura{
	padding: 0 90px 0 0;
	overflow: hidden;
}

.prima-linea-fattura{
	line-height: 44px;
}

.prima-linea-fattura:hover{
	background: none;
}

.linea-fattura > a{
	width: 1200px;
}

.linea-fattura input[type="checkbox"]{
	float: left;
}

.linea-fattura .col-fattura{
	float: left;
	display: block;
	padding: 0 6px;
	height: 44px;
	text-align: center;
}

.lista-anni{
	width: 100%;
	min-height: 100%;
	position: fixed;
	top: -100%;
	left: 0;
	background: #337ab7 /*rgba(51,122,183,0.9)*/;
	z-index: 999;
	display: block;
	-webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.lista-anni h3{
	width: 100%;
	text-align: center;
	color: #ffffff;
}

.lista-anni .chiudi-lista-anni{
	width: 100%;
	display: block;
	color: #ffffff;
	font-size: 22px;
	text-align: center;
	cursor: pointer;
	padding: 20px 0;	
}

.lista-anni .chiudi-lista-anni i{
	width: 40px;
	height: 40px;
	line-height: 38px;
	background: #ffffff;
	color: #337ab7;
	border: 2px solid #ffffff;
	text-align: center;
}

.lista-anni .chiudi-lista-anni:hover i{
	background: #337ab7;
	color: #ffffff;
}

.lista-anni a{
	display: block;
	width: 100%;
	text-align: center;
	font-size: 28px;
	color: #ffffff;
	padding: 5px 0;
}

.lista-anni a:hover{
	background: #ffffff;
	color: #337ab7;
}

.col-fattura.id-fattura{
	width: 50px;
}

.destinatario-fatura span{
	font-size: 12px;
	color: #666666;
	margin-left: 10px;
}





/* CLIENTE */

.cliente{
	font-size: 18px;
}

.cliente h3{
	margin: 0 0 20px;
}

.cliente .cliente-block{
	margin-bottom: 50px;
}

.cliente ul li{
	margin-bottom: 5px;
}

.cliente ul li span.etichetta-ico{
	display: inline-block;
	width: 35px;
	color: #999999;
}

.cliente ul li span.etichetta-cliente{
	display: inline-block;
	color: #999999;
	width: 40px;
}

.cliente ul li.nome-cliente{
	font-size: 18px;
}




/* FOOTER */

footer{
	background: #999999;
}


/* Impostazioni */

.impostazioni .radio{
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 0;
}

.impostazioni .prev-logo{
	width: auto;
	max-width: 100%;
}

.impostazioni .indicazioni-logo{
	margin-top: 10px;
	color: #666666;
}

.impostazioni .note{
	width: 100%;
	height: 200px;
}

.impostazioni .colors-block form input{
	display: block;
	width: 100px;
	height: 100px;
}

.impostazioni .colors-block .color-block__list{
	display: block;
}


.impostazioni .colors-block form .colors-single{
	width: 100px;
	height: 100px;
	float: left;
	margin: 0 10px 10px 0;
	padding: 0;
}

.impostazioni .colors-block form input[type="radio"]{
    display:none;
    width: 100px;
    height: 100px;
} 

.impostazioni .colors-block form input[type="radio"] + label{
	display: block;
	height: 100%;
	width: 100%;
}

.impostazioni .colors-block form input[type="radio"] + label:before {
	content: ' ';
    display:inline-block;
    width:100px;
    height:100px;
    cursor:pointer;
}

.impostazioni .colors-block form input[type="radio"]:checked + label:before {
   background-image: url(../images/color-checked.png);
}

.impostazioni .logo-error-message{
	margin: 0 0 5px;
	color: #ff0000;
	font-weight: bold;
}




@media (min-width: 768px) {
	
	.itemPrice{
		padding-right: 64px;
		position: relative;
	}
	
	.title-right{
		display: block;
	}
	
	.linea-fattura .col-fattura{
		padding: 0 10px;
	}
	
	
	
			/* Ref js "Dropdown menu on hover" 
			.dropdown.open .dropdown-menu{
				display: none;
			}
			
			.dropdown:hover .dropdown-menu {
				display: block;
				margin-top: 0;
			}
			/* Annulla stile dropdown on click 
			.navbar-default .navbar-nav > .open > a,
			.navbar-default .navbar-nav > .open > a:focus{
				background: #337ab7;
				color: #ffffff;
				box-shadow: none;
			}
			/* Nuovo stile dropdown on hover 
			.navbar-default .navbar-nav > .new-open > a,
			.navbar-default .navbar-nav > .new-open > a:focus,
			.navbar-default .navbar-nav > .new-open > a:hover,
			.navbar-default .navbar-nav > .open > a:hover{
				background: #ffffff!important;
				color: #337ab7!important;
			}*/
	
}

@media only screen and (max-width : 767px) {
	
	.navbar-default .navbar-nav > li > a{
		text-align: center;
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu{
		border-bottom: 2px solid #ffffff;
		background: #ffffff;
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu > li > a{
		text-align: center;
		color: #337ab7;
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
		background: #337ab7;
		color: #ffffff;
	}
	
	.title-right span{
		display: none;
	}
	
	.menu-impostazioni a{
		width: 24%;
		font-size: 22px;
	}
	
	.menu-impostazioni a i{
		margin: 0;
	}
	
	.menu-impostazioni a span{
		display: none;
	}
	
	.riepilogo-fattura{
		padding: 0;
	}
	
	.riepilogo-fattura .dati-cliente,
	.riepilogo-fattura  .numero-fattura,
	.riepilogo-fattura  .data-fattura{
		border: none;
	}
	
	.riepilogo-fattura .riepilogo-item-row .row > div:last-child{
		text-align: left;
		padding-top: 10px;
	}
	
	.riepilogo-fattura  .bollo-iban .dicitura-iban{
		text-align: left;
	}
	
	.riepilogo-fattura .riepilogo-totali .importo-totali{
		text-align: left;
	}

}





.install input{
	margin-bottom: 20px;
}

.install .btn-install{
	border: none;
	background: #337ab8;
	box-shadow: none;
	color: #ffffff;
	padding: 10px 20px;
}

.install h1{
	color: #337ab8;
	font-weight: 700;
}

.install h2{
	color: #337ab8;
}

.install .error-install{
	color: #ff0000;
	font-weight: bold;
}

